@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
h1 {
    font-family: "Noto Sans", sans-serif;
    font-size: 3em;
    text-align: left;
    color: #18031a;
    margin: 0 0 20px 0;
}

h2 {
    font-family: "Noto Sans", sans-serif;
    font-size: 1.8em;
}

h3 {
    font-family: "Andada Pro", serif;
    font-size: 1.5em;
}

h4 {
    font-family: "Noto Sans", sans-serif;
    font-style: italic;
    font-size: 1.2em;
}

p {
    font-size: 1.2em;
}

ol li {
    font-size: 1.2em;
}

.content {
    text-align: left;
    width: 95%;
    max-width: 1000px;
    padding: 5px 20px;
    margin: 25px 0px;
    background-color: #c9b5cb98;
    border-radius: 5px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    transition-duration: 0.5s;
}

.content:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(14, 14, 23, 0.2) 0px 8px 32px;
    transition-duration: 0.5s;
}

.content h2 {
    font-style: italic;
    /* text-decoration: underline; */
    /* border-style: none none solid none;
    border-color: rgb(177, 140, 179);
    border-width: 1px;
    padding: 0 0 10px 0;
    width: 300px; */
}

.content h3 {
    border-style: none none solid none;
    border-width: 1px;
    border-color: rgb(177, 140, 179);
    width: 100%;
    padding: 10px 0 10px 0;
    max-width: 500px;
}

body p {
    font-family: "Andada Pro", serif;
    padding: 0px 0px 0px 0px;
    color: black;
}

body {
    background-color: #faf4f9;
    padding: 10px 20px;
}

#topster {
    width: 100%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.story-media {
    width:100%;
    height:100px;
    margin: 10px 0 10px 0;
    background-color: rgb(231, 226, 233);
    border-radius: 5px;
}

.story-media table {
    color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.story-media table td {
    border: solid rgba(27, 31, 35, 0.20);
    border-width: 0 1px 0 0;
    padding: 0 10px 0 15px;
    width: 60%;
}

.story-media table td:last-of-type {
    border: none;
    width: 40%;
}

.story-media p {
    font-family: "Noto Sans", sans-serif;
}

.story-media a {
    color: black;
    text-decoration: underline;
    font-family: "Noto Sans", sans-serif;
}


.tracklist {
    padding: 0px 5px;
    border-radius: 5px;
    background-color: #292a29;
    margin: 10px 0px 10px 0px;
}

.trackitem {
    width:80;
    border-style: none none solid none;
}

.tracklist .trackitem:last-of-type {
    border-style: none;
}

.trackname {
    padding:5px 2%;
    margin: 0px 0;
    width:65%;
    display:inline-block;
}

.trackranking {
    padding:5px 5%;
    margin: 5px 0;
    width:10%;
    border-left: dashed 3px;
    display:inline-block;
}

.tracklist p, a {
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    padding: 0 0 0 0;
    margin:0 0 0 0;
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.tracklist a:hover {
    text-decoration: underline;
}

.favorite-color {
    width:50px;
    height:50px;
    border-radius:100%;
    display: inline-block;
}

iframe {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 100%;
    max-width:600px;
    margin: 0 0 10px 0;
}